*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  padding: 0;
  margin: 0;
  align-items: center;
  background-color: #111;
  font-family: monospace;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  background-image: url('https://assets.codepen.io/5896374/lava1.jpg');
  mix-blend-mode: luminosity;
  background-position: center;
}

.coverart {
  width: 90vmin;
  height: 90vmin;
  background: black;
  margin: 0 auto;
  display: grid;
  align-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 5vmin 5vmin rgba(0,0,0,0.5);
  border: 2px solid #29261d;
}

.coverart > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}

.coverart > .cover-bg {
  width: 130%;
  height: 130%;
  top: -15%;
  left: -15%;
  animation: rotate 20s linear infinite;
}

.coverart::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10vmin 3vmin inset black;
  position: absolute;
  z-index: 1;
  mix-blend-mode: multiply;
}

.cover-hand {
  z-index: 2;
  animation: bounce 5s ease infinite;
}

.cover-text {
  z-index: 3;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: translatey(5vmin) translatex(-2vmin) rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}

.audio-player {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  font-size: 15px;
  line-height: 1.1em;
  margin: 5px;
  z-index: 9;
  background: black;
  color: white;
  border: 1px solid;
  box-shadow: 4px 4px 0 black, 5px 5px 0 white;
  width: 300px;
  max-width: 100%;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.audio-player:hover {
  opacity: 1;
}

.audio-player h2 {
  font-size: 15px;
  color: white;
  margin: 0;
  margin-bottom: 15px;
  letter-spacing: 0.1em;
}

.audio-player audio {
  display: block;
  border: 1px solid;
  max-width: 100%;
  margin-bottom: 15px;
}

.audio-player details {
  line-height: 1.75em;
  max-height: calc(100vh - 170px);
  overflow-y: auto;
}

.audio-player summary {
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  letter-spacing: 0.1em;
  user-select: none;
  position: sticky;
  top: 0;
  background: black;
}

.audio-player summary:hover {
  color: red;
}

.audio-player summary::before {
  content: "» View ";
}

.audio-player details[open] summary {
  border-bottom: 1px solid white;
}

.audio-player details[open]  summary::before {
  content: "× Hide ";
}

details strong {
  margin-left: 1.5em;
}

details p {
  padding-bottom: 15px;
  border-bottom: 2px dashed #555;
  margin-top: 15px;
  margin-bottom: 0;
}

@media (min-width: 989px) {
  body {
    padding-left: 300px;
  }
  .audio-player {
    margin: 20px;
    opacity: 1;
  }
}